{% extends 'wellness/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block wellness_content %}
  <div class="wellness-page-header">
    <div class="wellness-page-copy">
      <div class="page-kicker mb-2">Sommeil</div>
      <h1 class="wellness-title">{{ title }}</h1>
      <p class="wellness-lead">Saisis les donnees de sommeil dans la meme interface douce et lisible que le module d origine.</p>
    </div>
    <div class="wellness-actions">
      <a href="{{ path('app_sleep_tracking_index') }}" class="btn-shell btn-shell-outline">Retour a la liste</a>
    </div>
  </div>

  <div class="card content-card wellness-form-card">
    <div class="card-body p-4">
      {{ form_start(form) }}
        <div class="row g-3">
          <div class="col-md-6">{{ form_row(form.user) }}</div>
          <div class="col-md-6">{{ form_row(form.dateSommeil) }}</div>
          <div class="col-md-6">{{ form_row(form.heureCoucher) }}</div>
          <div class="col-md-6">{{ form_row(form.heureReveil) }}</div>
          <div class="col-md-6">{{ form_row(form.dureeMinutes) }}</div>
          <div class="col-md-6">{{ form_row(form.qualiteSommeil) }}</div>
          <div class="col-12">{{ form_row(form.commentaire) }}</div>
        </div>
        <div class="wellness-form-actions">
          <button class="btn-shell btn-shell-primary">Enregistrer</button>
        </div>
      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}
