{% form_theme form 'bootstrap_5_layout.html.twig' %}

{{ form_start(form, {'attr': {'class': 'wellness-form'}}) }}

{% if not form.vars.valid %}
    <div class="wellness-alert">
        Merci de verifier les champs du profil avant de generer le programme.
    </div>
{% endif %}

<div class="row g-4">
    <div class="col-lg-6">
        {{ form_row(form.user) }}
    </div>
    <div class="col-lg-3">
        {{ form_row(form.age) }}
    </div>
    <div class="col-lg-3">
        {{ form_row(form.genre) }}
    </div>

    <div class="col-lg-4">
        {{ form_row(form.tailleCm) }}
    </div>
    <div class="col-lg-4">
        {{ form_row(form.poidsKg) }}
    </div>
    <div class="col-lg-4">
        {{ form_row(form.niveauActivite) }}
    </div>

    <div class="col-lg-4">
        {{ form_row(form.niveauStress) }}
    </div>
    <div class="col-lg-4">
        {{ form_row(form.qualiteSommeil) }}
    </div>
    <div class="col-lg-4">
        {{ form_row(form.dureeSommeilHeures) }}
    </div>

    <div class="col-lg-6">
        {{ form_row(form.objectif) }}
    </div>
    <div class="col-lg-6">
        {{ form_row(form.activiteCible) }}
    </div>
</div>

<div class="wellness-form-actions">
    <button class="{{ button_class|default('btn-shell btn-shell-primary') }}">
        <i class="bi bi-{{ button_icon|default('activity') }}"></i>
        {{ button_label|default('Generer le programme') }}
    </button>
</div>

{{ form_end(form) }}
