{# On ajoute l'attribut novalidate #}
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="row g-3">
        <div class="col-md-6">
            {{ form_row(form.userId) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.ressource) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.dateAjout) }}
        </div>
    </div>
    
    <div class="mt-4">
        <button class="btn btn-success"><i class="bi bi-save"></i> {{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}

